h1 {
  padding-left: 15px;
  font-size: 2.5rem;
  line-height: 1.6;
  font-weight: 500;
}
.leftSec {
  padding: 0px;
  overflow: hidden;
  overflow-y: scroll;
}
.pro {
  border-bottom: 1px solid #ccc;
  padding-right: 15px;
}
.StepProgress {
  position: relative;
  padding-left: 45px;
  list-style: none;
}

.StepProgress::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 19px;
  width: 10px;
  height: calc(100% - 5px);
  border-left: 2px solid #ccc;
}

.StepProgress-item {
  position: relative;
  counter-increment: list;
}

.StepProgress :not(:last-child) {
  padding-bottom: 20px;
}

.StepProgress-item:not(:last-child)::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: -26px;
  height: 100%;
  width: 10px;
}

.StepProgress-item::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -35px;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}

.is-done::before {
  border-left: 2px solid rgb(0, 234, 255);
}
.is-done::after {
  content: "✓";
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 2px solid rgb(0, 234, 255);
  background-color: rgb(0, 234, 255);
}

.current ::before {
  border-left: 2px solid rgb(0, 234, 255);
}

.current::after {
  content: counter(list);
  width: 20px;
  height: 20px;
  top: -4px;
  left: -35px;
  font-size: 11px;
  text-align: center;
  color: rgb(0, 234, 255);
  border: 2px solid rgb(0, 234, 255);
  background-color: white;
}

strong {
  display: block;
}
.driverDetail {
  padding: 15px;
}
.starImg {
  height: 20px;
}
.driImg {
  position: absolute;
  left: 10px;
  z-index: 1;
  top: 7px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.driName {
  font-size: 12px;
  position: absolute;
  width: 100%;
  right: 0px;
  transform: translateX(80%);
  bottom: -5px;
  z-index: 2;
}
